body {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0%;
    margin: 0%;

    background-image: url("../resursi/slike/pozadina.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    font-family: fantasy;
}

h2:hover, h2:hover, h3:hover, h4:hover {
    text-shadow: 2px 2px 5px red;
}